/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sigmar';
    src: url(Fonte/Sigmar.txt);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anton';
    src: url(Fonte/Anton-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue';
    src: url(Fonte/BebasNeue-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Neue';
    background-color: rgb(253, 248, 225);
    color: #2c0657;
}

.titulo {
    text-align: center;
    font-family: 'Anton';
    font-size: 50px;
    padding: 20px 0;
}

#imagem {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 10px;
    height: 130px;
    width: 130px;
}

.perfil {
    background-color: #2c0657;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    border-radius: 15px;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
}

.info {
    color: rgb(253, 248, 225);
    margin-left: 20px;
}

footer {
    color: #fff2c8;
    background-color: #2c0657;
    text-align: center;
    padding: 10px 0;
}
a{
    color: white;
    text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
    .titulo {
        font-size: 30px; 
    }

    .perfil {
        width: 90%; 
        flex-direction: column; 
        height: auto; 
        padding: 20px;
    }

    .info {
        margin-left: 0; 
        text-align: center; 
        margin-top: 10px; 
    }

    img {
        height: 500px; 
        width: 500px;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 24px; 
    }

    .perfil {
        width: 95%;
    }

    img {
        height: 15px;
        width: 15px;
    }

    .info h1 {
        font-size: 18px;
    }
}